
Настоящее Пользовательское соглашение (далее — Соглашение) регулирует отношения между
владельцем интернет-сервиса "Axo-VPN" (далее — Сервис) и лицом, использующим Сервис (далее — Пользователь).


Общие положения.

1.1. Сервис предоставляет Пользователю возможность подключаться к виртуальной частной сети (VPN) для обеспечения анонимности,
 безопасности и свободы доступа к интернет-ресурсам.

1.2. Сервис предоставляется Пользователю согласно тарифному плану.

1.3. Для использования Сервиса Пользователь должен установить на свое устройство специальное программное
обеспечение (ПО), предоставляемое Сервисом.

1.4. Пользователь соглашается с тем, что Сервис <b>НЕ гарантирует ПОЛНУЮ анонимность</b>, безопасность и свободу
доступа к интернет-ресурсам, а также не несет ответственности за любые последствия, связанные с использованием Сервиса.

1.5. Пользователь соглашается с тем, что он использует Сервис на свой страх и риск и самостоятельно несет ответственность
 за соблюдение законодательства страны, в которой он находится, а также за уважение прав и интересов третьих
лиц при использовании Сервиса.


<hr>


Права и обязанности сторон.

2.1. Сервис обязуется:

2.1.1. Предоставлять Пользователю доступ к Сервису в соответствии с условиями настоящего Соглашения.

2.1.2. Обеспечивать работоспособность и доступность Сервиса в максимально возможной степени, но не гарантирует
отсутствие сбоев, ошибок или перерывов в работе Сервиса.

2.1.3. Не разглашать персональные данные Пользователя без его согласия, за исключением случаев, предусмотренных
законодательством или настоящим Соглашением.


<hr>


2.2. Сервис имеет право:

2.2.1. Изменять условия настоящего Соглашения по своему усмотрению с уведомлением Пользователя путем размещения
новой редакции Соглашения на сайте Сервиса или в ПО.

2.2.2. Изменять функциональность, внешний вид, параметры и настройки Сервиса по своему усмотрению без уведомления Пользователя.

2.2.3. Ограничивать или прекращать доступ Пользователя к Сервису в случае нарушения Пользователем условий настоящего
Соглашения или законодательства, а также по любым другим причинам по своему усмотрению без уведомления Пользователя.

2.2.4. Размещать рекламные материалы на сайте Сервиса или в ПО, а также направлять Пользователю рекламные сообщения
по электронной почте или иными способами с согласия Пользователя.


<hr>


2.3. Пользователь обязуется:

2.3.1. Соблюдать условия настоящего Соглашения и законодательство страны, в которой он находится, при использовании Сервиса.

2.3.2. Не использовать Сервис для совершения противоправных действий, нарушения прав и интересов третьих лиц,
распространения запрещенной информации и материалов, а также для любых других целей, не соответствующих назначению Сервиса.

2.3.3. Не предпринимать действий, направленных на нарушение работоспособности или доступности Сервиса,
а также не пытаться получить несанкционированный доступ к Сервису или его компонентам.

2.3.4. Не передавать свои учетные данные для доступа к Сервису третьим лицам и несет ответственность за их сохранность
и конфиденциальность.

2.4. Пользователь имеет право:

2.4.1. Использовать Сервис в соответствии с условиями настоящего Соглашения и законодательством страны, в которой он находится.

2.4.2. Запрашивать у Сервиса информацию о работе Сервиса и получать ответы в разумные сроки.

2.4.3. Отказаться от использования Сервиса в любое время путем удаления ПО со своего устройства.

<hr>


Ответственность сторон.

3.1. Стороны несут ответственность за неисполнение или ненадлежащее исполнение своих обязательств по настоящему
Соглашению в соответствии с действующим законодательством.

3.2. Сервис не несет ответственности за качество, скорость, надежность и доступность интернет-соединения Пользователя,
а также за любые убытки или ущерб, причиненные Пользователю или третьим лицам в результате использования или
невозможности использования Сервиса.

3.3. Пользователь несет ответственность за любые действия, совершенные им при использовании Сервиса, а также за
любые последствия, связанные с такими действиями, включая возможное нарушение прав и интересов третьих лиц или законодательства.

<hr>


Прочие условия.

4.1. Настоящее Соглашение вступает в силу с момента начала использования Пользователем Сервиса и действует до
момента прекращения такого использования.

4.2. Настоящее Соглашение подлежит применению и толкованию в соответствии с законодательством Российской Федерации.

4.3. Если какое-либо положение настоящего Соглашения признается недействительным или не подлежащим применению по
какой-либо причине, это не влияет на действительность и применимость остальных положений Соглашения.

4.4. Сервис оставляет за собой право в любое время изменять или дополнять настоящее Соглашение по своему
усмотрению без предварительного уведомления Пользователя. Пользователь обязан самостоятельно следить за изменениями
Соглашения на сайте Сервиса или в ПО. Продолжение использования Сервиса после внесения изменений или дополнений
означает принятие Пользователем таких изменений или дополнений.

4.5. Пользователь подтверждает, что ознакомился со всеми положениями настоящего Соглашения и безоговорочно принимает их.